<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <div th:replace="~{fragments/nav :: nav}"></div>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css"> <!-- Link to the new external CSS file -->
</head>
<body>
<h1>An Error Occurred</h1>

<p th:text="${error}">An unexpected error has occurred.</p>

<a th:href="@{/}">Go back to Home</a>


</body>
</html>
