<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/gold-star.jpg" type="image/jpg">
    <title>Wish list</title>
<!--    <link rel="stylesheet" href="/main_style.css">-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="fragments/nav :: nav"></div>
</header>

<div id="myText">
    <h1>Wishlist project homepage</h1>
    <p>WIP</p>
</div>

<footer>
    <p><a href="">Contract us at fakeEmail@gmail.com</a></p>
    <p><a href="">VisitDenmark © 2024</a></p>

</footer>

</body>
</html>