<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/pics/shooting-star.avif" type="image/png">
    <title>Wish list</title>
    <link rel="stylesheet" href="/styles/style-index.css">
</head>
<body>
<header>
    <div class="header-container">
        <img src="/images/thelogo.png" width="50" height="50" alt="drinks">
        <h1>ShootingStar</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/attractions">Attractions</a></li>
            <li><a href="/attractions/add">add-Attraction</a></li>
            <li><a href=https://www.google.com/maps/place/Danmark/@56.2050395,8.9034193,7z/data=!3m1!4b1!4m6!3m5!1s0x464b27b6ee945ffb:0x528743d0c3e092cd!8m2!3d56.26392!4d9.501785!16s%2Fg%2F121p5z1h?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D>denmark</a></li>
        </ul>
    </nav>
</header>

<div id="myText">
    <h1>Denmark</h1>
    <p>Denmark is a land of Viking history and modern design,
        where cobblestone streets meet cutting-edge cities,
        and nature is never far away. It’s about windswept shores,
        rolling dunes, serene forests, and endless summer days on islands.
        Cozy cafes, castles, and a deep connection to the sea complete the Danish experience,
        blending tradition with innovation at every turn.</p>

    <div class="button-group">
        <a href="/attractions" class="button">Start</a>
    </div>
</div>

<div class="img-container">
    <img src="/images/Copenhagen-Denmark.jpg" width="1920" height="900" alt="drinks">
    <a href="https://www.tivoli.dk/">
        <img src="/images/tivoli.jpg" width="600" height="600" alt="drinks">
    </a>
    <a href=https://www.christiansborgslot.dk/>
        <img src="/images/christiansborg.jpg" width="600" height="600" alt="drinks">
    </a>
</div>

<footer>
    <p><a href="">Contract us at fakeEmail@gmail.com</a></p>
    <p><a href="">VisitDenmark © 2024</a></p>

</footer>

</body>
</html>