<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Wishlists</title>
    <link href="/allWishList_style.css" rel="stylesheet">
    <div th:replace="~{fragments/nav :: nav}"></div>
</head>
<body>
<div th:if="${session.userId != null}">


<div th:if="${userId}">

    <h1>My Wishlists</h1>

    <ul class="wishlist-container">
        <li th:each="wishlist : ${wishlists}">
            <a th:href="@{/{userId}/wishlist/{wishlistId}(userId=${userId}, wishlistId=${wishlist.id})}"
               th:text="${wishlist.name}">Wishlist Name</a>

            <a th:href="@{/{userId}/wishlist/{wishlistId}/update(userId=${userId}, wishlistId=${wishlist.id})}"
               class="btn btn-primary btn-sm">Edit</a>

            <form th:action="@{/{userId}/wishlist/{wishlistId}/delete(userId=${userId}, wishlistId=${wishlist.id})}" method="post">
                <input type="hidden" name="_method" value="post"/>
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </li>
    </ul>

    <div>
        <a th:href="@{/{userId}/wishlist/create(userId=${userId})}" class="btn btn-success">Create a New Wishlist</a>
    </div>
</div>

</div>
<div th:if="${session.userId == null}">
    <h1>You are not authenticated</h1>
</div>
</body>
</html>
